body{
    background-color: aquamarine;
    color: aqua;
    display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

}

button{

background-color: blue;
color: rgb(165, 119, 62);

font-family: "Bai jamjuree", sans-serif;

   }